.adminSetting{
    background-color: #f8f8f8;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4e60ff;
    border-radius: 16px;
    text-decoration: none;
    color: #4e60ff;
}
body{
    overflow-y: hidden;
}
.containerAdmin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(100vw - (100vw - 100%));
    height: calc(100vh - 80px);
    gap: 24px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 660px) {
    .pSettings{
        width: 90%;
    }
}