@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');

body{
    margin: 0;
    font-family: 'nunito';
}
.container{
    display: grid;
    grid-template-rows: 80px minmax(80px, 10vh) minmax(20px, 3vh) 1fr;
    width: calc(100vw - (100vw - 100%));
    gap: 24px;
}
.navBar{
	position: sticky;
	top: 0;
    z-index: 100;
    /*position: fixed;
    overflow: hidden;*/
    height: 80px;
    position: sticky;
    background-color: blue;
    border-bottom: 1px solid #EDEEF2;

}

.chooseDish{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.choice{
    width: 160px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #EDEEF2;
}
.choice p{
    margin: 0;
}
.title{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h2{
    margin: 0;
    font-family: 'nunito';
}
.dish{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1300px) {
    .container{
        grid-template-rows: 80px minmax(80px, 176px) minmax(20px, 3vh) 1fr;
    }
    .chooseDish{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 16px;
        width: 60%;
    }
    .choice{
        height: 80px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #EDEEF2;
    }

}

@media screen and (max-width: 900px) {
    .chooseDish{
        width: 80%;
    }
}

@media screen and (max-width: 660px) {
    .chooseDish{
        width: 100%;
    }
    .choice{
        width: 110px;
    }
}

