
.smallBtn:hover {
	background-color: cornflowerblue;
}

.smallBtn:active {
	background-color: mediumaquamarine;
}

.inPhoto {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

*{
    box-sizing: border-box;
}

.profilePhotoBig{
    border: 2px solid #4E60FF;
    border-radius: 16px;
}

.pSettings{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    border: 1px solid #EDEEF2;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}

#pform{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.photoBtn{
    margin-top: 30px;
    width: 20%;
    background-color: #4E60FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 145px;
}

.removeBtn{
    background-color: #ffffff;
    border: 1px solid red;
    color: red;
}

.conteinerP{
    display: grid;
    grid-template-rows: 80px 4vh 80vh;
    width: calc(100vw - (100vw - 100%));
    gap: 24px;
}

.title{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

input{
    padding-right: 10px;
}

.smallBtn{
    font-family: 'nunito';
    border: 0;
    display: inline-block;
    background-color: #4e60ff;
    width: 5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

.genBtn{
    margin-top: 30px;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.logbtn{
    margin-top: 30px;
    width: 100%;
    background-color: #4E60FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.data{
    margin: 0; 
    float:left;
    padding-right: 10px;
    padding-left: 10px;
}

#p25{
    width: 25%;
}

#p50{
    width: 50%;
}

#p30{
    width: 30%;
}

#p10{
    width: 10%;
}

@media screen and (max-width: 1300px) {
    #p25{
        width: 50%;
    }
    #p30{
        width: 50%;
    }
    #p10{
        width: 25%;
    }
}


@media screen and (max-width: 750px) {
    #pform{
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    .pSettings{
        width: 90%;
    }
}