::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e8e9ff; 
}

::-webkit-scrollbar-thumb {
    background: #4E60FF; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C7C8D2; 
}
