@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');

body{
    margin: 0px;
    font-family: 'nunito';
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 55vw;
    min-height: 800px;
}

.left{
    display: flex;
    align-items:center;
    justify-content:center;
    
}

#logo{
    position: absolute;
    width: 175px;
    height: 99px;
    left: 35px;
    top: 25px;
}
.log{
    width: 45%;
    /*margin-top: 110px;*/
    z-index: 10;
}
h1{
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0px;
}
span{
    display:inline-block;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}
b{
    display:inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 16px;
}
input[type=text], input[type=password]{
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px 12px;
    width: 100%;
    margin-bottom: 20px;
}
::placeholder{
    font-family: 'nunito';
}
input[type=checkbox]{
    display: inline-block;
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
#labelCheck{
    text-decoration: none;
    padding-left: 10px;
}

.logbtn{
    margin-top: 30px;
    width: 100%;
    background-color: #4E60FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.pswDiv{
    text-align: center;
    padding-top: 20px;
}

.Link{
    text-decoration: none;
    color: #4E60FF;
    font-weight: bold;
}

.bottom{
    position: absolute;
    bottom: 0;
    text-align: center;
}

.right{
    background-color: aqua;
    background-image: url(../images/carousel1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .container{
        grid-template-columns: 1fr;
    }
    .right{
        display: none;
    }
    .log{
        width: 80%;
    }
    .left{
        width: 100%;
    }
  }